*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin: 0px auto;
}
.templateRow{
    content: " ";
    display: table;
}
.row{
    &:before{
        @extend .templateRow;
    }
    &:after{
        @extend .templateRow;
        clear: both;
    }
}
[class*="col-"]{
    min-height: 7px;
    padding: 12px;
    float: left;
}
[class*="col-offset-"]{
    min-height: 7px;
    padding: 12px;
    float: left;
}
@function columnas($i){
    @return percentage(($i/12));
}
@for $i from 1 through 12{
    .col-#{$i}{
        width: columnas($i);
    }
}
@for $i from 1 through 12{
    .col-offset-#{$i}{
        margin-left: columnas($i);
    }
}
