@import'grid';
@import'variables';
@import'mixin';

body{
  font-family: $font-principal;
}
.align-center{
  text-align: center;
}

.size-img-s{
    width: 30%;
  }
.margin-10{
  margin: 10% 0;
}

.margin-3{
  margin-bottom: 3%;
}

.menu{
  text-align: right;
  li{
    @include li;
    @include texto (20px);
    font-weight: lighter;
    &:hover{
      @include texto (20px);
      color: $color-orange;
    }
  }
}

.active{
  background: $color-orange;
  padding: .7em 1.5em;
  border-radius: 20px;
  vertical-align: middle;
  color: $color-white !important;
}

.fondo{
  background-image: url(../assets/img/fondo.jpg);
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  .text-portada{
    margin-top: 10%;
      h1, h4{
        letter-spacing: -0.3px;
        color: $color-white;
        font-size: 3em;
        font-weight: normal;
      }
      h4{
        font-size: 2em;
        font-weight: 300;
      }
  }
}

.info-details{
    font-family: $font-principal;
    font-weight: normal;
    color: $color-gray2;
}

.text-orange{
  color: $color-lightorange;
}

.divider{
  height: 2px;
  border-bottom: solid 0.5px $color-gray3;
}
